@model WebAPIForLoginAndReg.Models.userRegistration
@{
    ViewBag.Title = "UserRegistration";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">



    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    @*<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>*@
                    <input type="button" name="Login" value="Login" class="float-right btn btn-outline-primary mt-1" />
                    <h4 class="card-title mt-2">Sign Up</h4>
                </header>
                <article class="card-body">
                    <form method="post" action="UserRegistration">
                        <div class="form-row">
                            <div class="col form-group">
                                <label>User Name </label>
                                <input type="text" name="userName" class="form-control" required placeholder="Enter Your Name">
                            </div>
                            <div class="col form-group">
                                <label>Email Id </label>
                                <input type="email" name="emailId" class="form-control" required placeholder="Enter Your Email ID">
                            </div>

                            <!-- form-group end.// -->

                        </div> <!-- form-row end.// -->
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Contact Number</label>
                                <input type="text" name="contactNo" class="form-control" required placeholder="Enter Your Mobile Number">
                            </div>
                            <div class="col form-group">
                                <label>Address </label>
                                <input type="text" name="address" class="form-control" required placeholder="Enter Your Address">
                            </div>
                        </div>
                        <!-- form-group end.// -->


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Password</label>
                                <input type="password" placeholder="Password" id="password" required class="form-control">
                            </div> <!-- form-group end.// -->
                            <div class="form-group col-md-6">
                                <label>Confirm Password</label>
                                <input type="password" name="password" id="confirm_password" placeholder="Confirm Password" required class="form-control">
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <!-- form-group end.// -->

                        <div class="form-group">
                            <button type="submit" name="Register" class="btn btn-primary btn-block"> Register  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article> <!-- card-body end .// -->
                <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>

